/*.card {
  position: relative;
  height: 100px;
  width: 160px;
  border-radius: 4px;
  transition: 0.3s;

  h2 {
    font-size: 1rem;
  }

  &:hover {
    transform: scale(1.2);
    z-index: 2;
  }

  &:hover .infos {
    opacity: 1;
    transform: scaleY(1);
  }

  .infos {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    color: $white;
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    opacity: 0;
    transform: scaleY(0);
    transition: 0.3s;
  }
  img {
    height: 100px;
    width: 160px;
    object-fit: cover;
    border-radius: 10px;
  }
}
*/

.card{
  &-title{
    text-transform: capitalize;
  }
  img{
    height: auto;
    width: 70%;
  }/*
  const typeColor = { "normal" : "#a0a3a0", "fighting" : "#ff8100", "flying": "#82baef","poison" : "#923fcc","ground" : "#92501b"
,"rock" : "#b1ab82","bug" : "#92a312","ghost" : "#713f71","steel" : "#60a3b9","fire" : "#e72324","water" : "#2481ef",
"grass" : "#3ca224","electric" : "#fac100","psychic" : "#ef3f7a","ice" : "#3dd9ff","dragon" : "#4f60e2","dark" : "#4d3e3b","fairy" : "#ef71ef","unknown" : "#67998c","shadow" : "#434349"};

  .c-normal{

  }

  .c-fighting{

  }
  .c-flying{

  }
  .c-poison{

  }
  .c-ground{

  }
  .c-rock{

  }
  .c-bug{

  }
  .c-ghost{

  }
  .c-steel{

  }
  .c-fire{

  }
  .c-water{

  }
  .c-grass{

  }
  .c-electric{

  }
  .c-psychic{

  }
  .c-ice{

  }
  .c-dragon{

  }
  .c-normal{

  }
  .c-normal{

  }
  .c-normal{

  }
  .c-normal{

  }
  .c-normal{

  }
  .c-normal{

  }
  .c-normal{

  }
  .c-normal{

  }
  .c-normal{

  }*/

}