.card{
  height: 355px;
  width: 280px;
  &-title{
    text-transform: capitalize;
    .checkFavoris{
    }
    .types{
      img{
        height: auto;
        width: 30px;
      }
    }
  }
  .card-content{
    .imgPkm{
      img{
        height: auto;
        width: 70%;
      }
    }
  }


  .card-action{
    text-align: center;
    .test{
      background-color: red;
/*
      [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
         position: relative !important;
         opacity: 1 !important;
         pointer-events: all !important;
      }*/
    }
    a:hover{
      color: black;
    }
  }


}