.card{
  height: 355px;
  width: 280px;
  &-title{
    text-transform: capitalize;
    .types{
      img{
        height: auto;
        width: 30px;
      }
    }
  }
  .card-content{
    .imgPkm{
      img{
        height: auto;
        width: 70%;
      }
    }
  }


  .card-action{
    text-align: center;
    a:hover{
      color: black;
    }
  }


}